.container, .dark, .light {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dark {
    background-color: #0D1322;
}

.light {
    background-color: #379683;
}

.mainLink {
    margin: 0vw 0vw 3vw 80vw;
    color: #05386B;
    text-decoration: none;
    font-size: 2vw;
}

.mainLink:hover{
    color: white;
    text-decoration: underline;
}