.window, .light-window, .dark-window {
    list-style: none;
    margin: 3vw 0vw 0vw 4vw;
    width: 23vw;
    height: 32vw;
    overflow-y: scroll;
    box-shadow: 0 0 5px 2px;
}

.dark-window {
    background-color: #282C35;
}

.light-window {
    background-color: #EDF5E1;
}

h1 {
    text-align: center;
    color: #05386B;
    font-size: 2.5vw;
}