.input {
    margin: 6vw 0vw 2vw 10vw;
    width: 18vw;
    font-size: 1vw;
}

.btnInput {
    font-size: 1vw;
}
  
.blockInput, .light-block, .dark-block {
    margin: 12.4vw 0vw 0vw 3vw;
    width: 45vw;
    height: 20vw;
    background-color: #5CDB95;
    box-shadow: 0 0 5px 2px;
    float: right;
}

.light-block {
    background-color: #5CDB95;
}

.dark-block {
    background-color: #212328;
}