.todoList {
    list-style: none;
}

.checkbox {
    width: 1.1vw;
    height: 1.1vw;
}

li {
    line-height: 2;
    font-size: 1.3vw;
}

.error {
    margin: 15vw 7vw;
    font-size: 1.3vw;
    color: #ff0000

    ;
}