.heading, .paragraph{
    text-align: center;
    font-size: 2.5vw;
}


.paragraph {
    margin: 6vw 6vw 21.5vw 0vw; 
    transform: rotate(3deg);
    font-size: 1.2vw;
    font-style: italic;
}

.todoLink {
    font-size: 1.7vw;
    margin: 0vw 29vw;
    text-decoration: none;
    color: #687B86;
}

.todoLink:hover {
    color: #379683;
}

.main-box {
    width: 50vw;
    height: 40vw;
    margin: 3vw 25vw 0vw 25vw;
    background-image: url(/public/images/todo.webp);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 41vw;
}