.blockBtn {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1vw;
    margin: 2vw 3vw;
}

.btn {
    width: 9vw;
    height: 2vw;
    font-size: 1vw;
}

.btnColor {
    border: 0.1vw;
    padding: 0.2vw;
}
