.loader {
    position: fixed;
    margin: 14vw 10vw;
    z-index: 999999;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: conic-gradient(#DC143C, transparent);
  
    animation: rotating 1s linear infinite;
}
  
.loader::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    background: white;
}
  
@keyframes rotating {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}